{
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 3,
	"endOfLine": "auto",
	"trailingComma": "all",
	"quoteProps": "as-needed",
	"prettier.jsxSingleQuote": true,
	"prettier.printWidth": 130,
	"prettier.arrowParens": "avoid",
	"semi": true
}
